$sectionParagraphColor: #333333;
$sectionTitleColor: #cb0e17;
$primaryFontR: "Roboto-Regular";
$primaryFontL: "Roboto-Light";
$primaryFontB: "Roboto-Bold";
$primaryFontTh: "Roboto-Thin";
$screen-md-max: 1199px;
$screen-sm-max: 991px;
$screen-xs-max: 767px;