.menu{
  padding: 20px 0;
  &_list_items{
    list-style-type: none;
    text-align: end;
    .list_item{
      display: inline-block;
      font-size: 15px;
      margin-right: 60px;
      @media only screen and (max-width: $screen-sm-max) {
        font-size: 14px;
        margin-right: 54px;
      }
      @media only screen and (max-width: $screen-xs-max) {
        font-size: 14px;
        margin-right: 0;
        display: block;
        font-family: $primaryFontB;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid $sectionTitleColor;
        &:last-of-type{
          border-bottom: none;
        }
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
    a:active, a:focus, a:hover{
      color: $sectionTitleColor;
    }
  }
}